/* General styles */
.mt-20 {
	margin-top: 20px;
}

/* main styles */
.card-image-top {
	width: 100%;
}

/* footer styles */
footer {
	height: 80px;
	margin-top: 50px;
}

footer>.container, footer .row {
	height: 100%; /* works since footer has a fixed height*/
}

.page-wrapper {
	margin: 50px auto;
	padding: 20px 15px;
	box-shadow: 0 0 10px #ccc;
	border-radius: 10px;
}

.page-wrapper h1 {
	text-align: center;
	margin: 20px 0;
}

.add-post-btn {
	margin-bottom: 15px;
}

.card-block {
	padding: 15px;
}

.w30 {
	width: 30%;
}

.w5 {
	width: 5%;
}

.w20 {
	width: 20%;
}

.w60 {
	width: 60%;
}

.w10 {
	width: 10%;
}

.w100 {
	width: 100%;
}

article {
	padding-left: 10px;
}

article:nth-of-type(odd) {
	background: rgba(0, 0, 0, .05);
}

.article-inline {
	flex-wrap: wrap;
}

.sight-container, .login-container {
	margin-top: 50px;
	border-radius: 10px;
	box-shadow: 0 0 10px #ccc;
	padding: 15px 50px;
}
.sight-container h1 {
	text-align: center;
}
.sight-container img {
	width: 100%;
}
.sight-container .date {
	font-weight: bold;
}

.map {
	height: 400px;
}

.login-title {
	text-align: center;
	margin-bottom: 20px;
}

#myTabContent {
	margin-top: 20px;
}
